__pycache__/
.tmp/
.venv/
*.onnx
*.pyc
*.TXT
checkpoints/
mujoco_saved_obs.pkl
Open_Duck_Playground.egg-info/*
playground/open_duck_mini_v2_skate/
playground/sigmaban2019/
robot_saved_obs.pkl
uv.lock
